.about {
    h2 {
        text-align: center;
    }

    &__text {
        padding: 0 1rem;
        box-sizing: border-box;
    }

    &__contacts {
        margin-top: 10px;
        background-color: $c-dark-blue;
        color: $c-white;
        padding: 1rem;
        box-sizing: border-box;

        @media (max-width: 575px) {
            margin: 15px 15px 0;
        }

        h4 {
            color: $c-mongoose;
        }
    }

    &__contacts-open p {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        span {
            flex-grow: 1;
            border-bottom: 1px dotted $c-white;
            margin: 0 5px;
        }
    }
}