// fonts -------------------------------------
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../fonts/Vollkorn-Regular.ttf);
}

@font-face {
    font-family: Yesteryear;
    src: url(../fonts/Yesteryear-Regular.ttf);
}