// footer -------------------------------------
.main-footer {
    background: $c-dark-blue;
    color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;

    .btn-transparent {
        color: #ffffff;

        &:hover {
            background-color: #bf9e7b;
            color: #141723;
        }
    }

    .row>div,
    .row>a {
        margin-bottom: 25px;
    }

    .footer-col-2 {
        @media only screen and (max-width: 991px) {
            order: 1;
        }
    }

    .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
            margin: 0;
            padding: 5px 5px 1px;
            width: 40px;
            box-sizing: border-box;

            @media (max-width: 340px) {
                width: 35px;
            }

            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}