// reservations -------------------------------------
.reservations {
    background-color: $c-dark-gray;

    .form-section-wrapper {
        text-align: center;
    }

    label {
        vertical-align: bottom;
        margin: 5px;

    }

    h2 {
        text-align: center;
    }

    span {
        font-size: 1rem;
        font-family: Raleway;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    p {
        margin-bottom: 25px;
        color: $c-white;
    }

    .btn {
        display: block;
        margin: 2rem auto 0;
    }


    input,
    select {
        display: block;
        width: 100%;
        border: none;
        padding: 5px 10px;
        font-size: 1rem;
        color: $c-dark-blue;
        box-sizing: border-box;

        @media (max-width: 480px) {
            padding: 5px;
        }
    }

    .form-first-row {
        display: inline-block;

        @media (max-width: 480px) {
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;

            label {
                width: 46%;
            }
        }
    }

    .form-second-row {
        display: inline-block;
    }

    .book-form__time {
        min-width: 60px;
    }
}