// Color ------
$c-white: #ffffff;
$c-dark-gray: #4c4d4f;
$c-gray: #808080;
$c-friar-gray: #83837b;
$c-dark-blue: #141723;
$c-mongoose: #bf9e7b;
$c-black: #000000;
$c-transparent: transparent;
$c-black-opacity: rgba(20, 23, 35, 0.95);