@import "fonts";
@import "media";
@import "typography";
@import "burger-menu";
@import "slider-header";
@import "about";
@import "best-price";
@import "our-menu";
@import "reservations";
@import "photo-gallery";
@import "photoswipe";
@import "footer";
@import "popup-map";

.wrapper {
    min-width: 320px;
    // overflow: hidden;
    // overflow-y: scroll;
    scroll-behavior: smooth;
}

section:not(.slider-header) {
    padding: 20px 0 40px;
    overflow: hidden;
}