@import "fonts";
@import "media";
@import "typography";

.container {
    max-width: 970px;
}

.main-header {
    background-color: $c-gray;
}

.main-nav {
    background-color: $c-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $c-white;

    &__logo {
        font-size: 2.4rem;
        margin: 0;
        padding: 0;
        color: $c-white;
    }

    &__ul {
        margin-bottom: 5px;
        padding-left: 0;
    }

    li {
        display: inline-block;
        text-decoration: none;
    }

    &__link {
        display: block;
        padding: 1rem 1.3rem;
        font-size: 1rem;
        color: $c-white;
        text-decoration: none;

        &:hover {
            color: $c-dark-blue;
            text-decoration: none;
        }

        &-active {
            color: $c-dark-blue;

            &:hover {
                color: $c-white;
            }
        }
    }
}