@import "fonts";
@import "media";
@import "typography";

.container {
    max-width: 970px;
}

.main-header {}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $c-white;
    margin-bottom: -56px;
    position: relative;
    z-index: 1;

    &__logo {
        font-size: 2.4rem;
        margin: 0;
        padding: 0;
        color: $c-white;
    }

    &__ul {
        margin-bottom: 5px;
        padding-left: 0;
    }

    li {
        display: inline-block;
        text-decoration: none;
    }

    &__link {
        display: block;
        padding: 1rem 1.3rem;
        font-size: 1rem;
        color: $c-white;
        text-decoration: none;

        &:hover {
            color: $c-dark-blue;
            text-decoration: none;
        }

        &-active {
            color: $c-dark-blue;

            &:hover {
                color: $c-white;
            }
        }
    }
}

.slider-header {
    width: 100%;
    overflow: hidden;
    // margin-top: -60px;
    // z-index: -1;

    img {
        width: 100vw;
        height: auto;
    }

    &__title {
        position: relative;
        top: -100px;
        left: 100px;
    }
}