@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn-Regular.ttf);
}

@font-face {
  font-family: Yesteryear;
  src: url(../fonts/Yesteryear-Regular.ttf);
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: Vollkorn;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
}

.c-mongoose {
  color: #bf9e7b;
}

h1 {
  font-family: Yesteryear;
  font-size: 4.2rem;
  font-weight: 400;
}

h2 {
  font-family: Yesteryear;
  font-size: 3.8rem;
  font-weight: 400;
}

h3 {
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

h5 {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
}

p {
  font-family: Raleway;
  font-size: 1em;
}

.p-lite {
  font-family: Vollkorn;
  font-size: 0.9em;
}

.big-price {
  font-family: Raleway;
  font-size: 2.3rem;
  color: #bf9e7b;
}

.btn {
  padding: 1rem 3rem;
  background: #bf9e7b;
  background-color: #bf9e7b;
  color: #000000;
  border-radius: initial;
  font-family: Raleway;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.btn-transparent {
  background: none;
  background-color: transparent;
  color: #000000;
  border: 1px solid #bf9e7b;
  box-sizing: border-box;
}

.btn-slider {
  background: none;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1.5rem;
}

@media only screen and (max-width: 720px) {
  .btn-slider {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem 1rem;
  }
}

.btn-slider:hover {
  color: #bf9e7b;
  border: 1px solid #bf9e7b;
  background-color: #00000070;
}

.btn-small {
  padding: 0.6rem 0.2rem;
  background: #bf9e7b;
  background-color: #bf9e7b;
  color: #000000;
  border-radius: initial;
  font-family: Raleway;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin: 2rem 0;
}

.main-nav {
  border-bottom: 1px solid #bf9e7b;
  margin-bottom: -60px;
  background-color: #00000070;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 1200px) {
  .main-nav {
    border-bottom: none;
  }
}

@media only screen and (max-width: 720px) {
  .main-nav {
    margin-bottom: -56px;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav {
    margin-bottom: -50px;
  }
}

.main-nav__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.main-nav__ul {
  margin-bottom: 0;
  padding-left: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media only screen and (max-width: 540px) {
  .main-nav__ul {
    visibility: hidden;
    position: absolute;
    top: -350px;
    display: block;
    width: 100%;
    margin-left: -15px;
    background: url(../img/menu_bg_02.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 320px;
    z-index: -1;
    padding-top: 50px;
  }
}

.main-nav__logo {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.main-nav li {
  display: inline-block;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .main-nav li {
    display: block;
  }
}

@media only screen and (min-width: 540px) {
  .main-nav li:last-child a {
    padding-right: 0;
  }
}

.main-nav__link {
  padding: 1rem 1.3rem;
  font-size: 1rem;
  color: #ffffff;
}

@media only screen and (max-width: 960px) {
  .main-nav__link {
    padding: 1rem 1.1rem;
  }
}

@media only screen and (max-width: 720px) {
  .main-nav__link {
    padding: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav__link {
    padding: 0;
    text-align: center;
    font-family: Yesteryear;
    font-size: 2.2rem;
    color: #bf9e7b;
  }
}

.main-nav__link:hover {
  color: #bf9e7b;
  text-decoration: none;
  text-shadow: 0 0 2px #000000;
}

.main-nav__logo-link {
  font-size: 1rem;
  color: #ffffff;
}

.main-nav__logo-link h2 {
  font-size: 36px;
  padding: 8px 1.3rem 8px 0;
}

@media only screen and (max-width: 720px) {
  .main-nav__logo-link h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav__logo-link h2 {
    font-size: 28px;
  }
}

.main-nav__logo-link:hover {
  text-decoration: none;
}

.main-nav__logo-link:hover h2 {
  color: #bf9e7b;
  text-shadow: 0 0 2px #000000;
}

.main-nav__menu-bg {
  width: 100vw;
  height: auto;
}

#main-nav-call {
  display: none;
}

#main-nav-call:checked ~ .main-nav__ul {
  visibility: visible;
  top: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

#main-nav-call:checked + .main-nav-burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#main-nav-call:checked + .main-nav-burger span {
  display: none;
}

#main-nav-call:checked + .main-nav-burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
  visibility: hidden;
  display: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 540px) {
  .main-nav-burger {
    display: block;
    visibility: visible;
  }
}

.main-nav-burger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger span {
  width: 30px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 14px;
}

.slider-header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slider-header img {
  width: 100vw;
  height: auto;
  min-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-header__text-container {
  position: relative;
}

.slider-header__text {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
  text-shadow: 0 0 2px #000000;
}

@media only screen and (max-width: 1200px) {
  .slider-header__text h2 {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 960px) {
  .slider-header__text h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 720px) {
  .slider-header__text h2 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 540px) {
  .slider-header__text h2 {
    font-size: 2rem;
  }
}

.slider-header .slick-slide:focus {
  outline: none;
}

.slider-header .slick-dots {
  bottom: 5px;
}

@media only screen and (max-width: 960px) {
  .slider-header .slick-dots {
    bottom: 0;
  }
}

@media only screen and (max-width: 960px) {
  .slider-header .slick-dots {
    bottom: -5px;
  }
}

.slider-header .slick-dots li {
  margin: 0 30px;
}

@media only screen and (max-width: 960px) {
  .slider-header .slick-dots li {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 720px) {
  .slider-header .slick-dots li {
    margin: 0 10px;
  }
}

.slider-header .slick-dots li button:before {
  font-size: 14px;
  color: #bf9e7b;
}

@media only screen and (max-width: 960px) {
  .slider-header .slick-dots li button:before {
    font-size: 7px;
  }
}

.slider-header .slick-list {
  min-height: 320px;
}
